<!DOCTYPE html>
<html>
  <head>
    <title>My Project</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/patterns.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>
  <body>
    <div id="title">Tetris</div>
    <div id="app">
      <div id="stage">
        <div class="front-cover" v-if="isPausing"></div>
        <table>
          <tr>
            <td data-row="0" data-column="0" data-color="null"></td>
            <td data-row="0" data-column="1" data-color="null"></td>
            <td data-row="0" data-column="2" data-color="null"></td>
            <td data-row="0" data-column="3" data-color="null"></td>
            <td data-row="0" data-column="4" data-color="null"></td>
            <td data-row="0" data-column="5" data-color="null"></td>
            <td data-row="0" data-column="6" data-color="null"></td>
            <td data-row="0" data-column="7" data-color="null"></td>
            <td data-row="0" data-column="8" data-color="null"></td>
            <td data-row="0" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="1" data-column="0" data-color="null"></td>
            <td data-row="1" data-column="1" data-color="null"></td>
            <td data-row="1" data-column="2" data-color="null"></td>
            <td data-row="1" data-column="3" data-color="null"></td>
            <td data-row="1" data-column="4" data-color="null"></td>
            <td data-row="1" data-column="5" data-color="null"></td>
            <td data-row="1" data-column="6" data-color="null"></td>
            <td data-row="1" data-column="7" data-color="null"></td>
            <td data-row="1" data-column="8" data-color="null"></td>
            <td data-row="1" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="2" data-column="0" data-color="null"></td>
            <td data-row="2" data-column="1" data-color="null"></td>
            <td data-row="2" data-column="2" data-color="null"></td>
            <td data-row="2" data-column="3" data-color="null"></td>
            <td data-row="2" data-column="4" data-color="null"></td>
            <td data-row="2" data-column="5" data-color="null"></td>
            <td data-row="2" data-column="6" data-color="null"></td>
            <td data-row="2" data-column="7" data-color="null"></td>
            <td data-row="2" data-column="8" data-color="null"></td>
            <td data-row="2" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="3" data-column="0" data-color="null"></td>
            <td data-row="3" data-column="1" data-color="null"></td>
            <td data-row="3" data-column="2" data-color="null"></td>
            <td data-row="3" data-column="3" data-color="null"></td>
            <td data-row="3" data-column="4" data-color="null"></td>
            <td data-row="3" data-column="5" data-color="null"></td>
            <td data-row="3" data-column="6" data-color="null"></td>
            <td data-row="3" data-column="7" data-color="null"></td>
            <td data-row="3" data-column="8" data-color="null"></td>
            <td data-row="3" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="4" data-column="0" data-color="null"></td>
            <td data-row="4" data-column="1" data-color="null"></td>
            <td data-row="4" data-column="2" data-color="null"></td>
            <td data-row="4" data-column="3" data-color="null"></td>
            <td data-row="4" data-column="4" data-color="null"></td>
            <td data-row="4" data-column="5" data-color="null"></td>
            <td data-row="4" data-column="6" data-color="null"></td>
            <td data-row="4" data-column="7" data-color="null"></td>
            <td data-row="4" data-column="8" data-color="null"></td>
            <td data-row="4" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="5" data-column="0" data-color="null"></td>
            <td data-row="5" data-column="1" data-color="null"></td>
            <td data-row="5" data-column="2" data-color="null"></td>
            <td data-row="5" data-column="3" data-color="null"></td>
            <td data-row="5" data-column="4" data-color="null"></td>
            <td data-row="5" data-column="5" data-color="null"></td>
            <td data-row="5" data-column="6" data-color="null"></td>
            <td data-row="5" data-column="7" data-color="null"></td>
            <td data-row="5" data-column="8" data-color="null"></td>
            <td data-row="5" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="6" data-column="0" data-color="null"></td>
            <td data-row="6" data-column="1" data-color="null"></td>
            <td data-row="6" data-column="2" data-color="null"></td>
            <td data-row="6" data-column="3" data-color="null"></td>
            <td data-row="6" data-column="4" data-color="null"></td>
            <td data-row="6" data-column="5" data-color="null"></td>
            <td data-row="6" data-column="6" data-color="null"></td>
            <td data-row="6" data-column="7" data-color="null"></td>
            <td data-row="6" data-column="8" data-color="null"></td>
            <td data-row="6" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="7" data-column="0" data-color="null"></td>
            <td data-row="7" data-column="1" data-color="null"></td>
            <td data-row="7" data-column="2" data-color="null"></td>
            <td data-row="7" data-column="3" data-color="null"></td>
            <td data-row="7" data-column="4" data-color="null"></td>
            <td data-row="7" data-column="5" data-color="null"></td>
            <td data-row="7" data-column="6" data-color="null"></td>
            <td data-row="7" data-column="7" data-color="null"></td>
            <td data-row="7" data-column="8" data-color="null"></td>
            <td data-row="7" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="8" data-column="0" data-color="null"></td>
            <td data-row="8" data-column="1" data-color="null"></td>
            <td data-row="8" data-column="2" data-color="null"></td>
            <td data-row="8" data-column="3" data-color="null"></td>
            <td data-row="8" data-column="4" data-color="null"></td>
            <td data-row="8" data-column="5" data-color="null"></td>
            <td data-row="8" data-column="6" data-color="null"></td>
            <td data-row="8" data-column="7" data-color="null"></td>
            <td data-row="8" data-column="8" data-color="null"></td>
            <td data-row="8" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="9" data-column="0" data-color="null"></td>
            <td data-row="9" data-column="1" data-color="null"></td>
            <td data-row="9" data-column="2" data-color="null"></td>
            <td data-row="9" data-column="3" data-color="null"></td>
            <td data-row="9" data-column="4" data-color="null"></td>
            <td data-row="9" data-column="5" data-color="null"></td>
            <td data-row="9" data-column="6" data-color="null"></td>
            <td data-row="9" data-column="7" data-color="null"></td>
            <td data-row="9" data-column="8" data-color="null"></td>
            <td data-row="9" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="10" data-column="0" data-color="null"></td>
            <td data-row="10" data-column="1" data-color="null"></td>
            <td data-row="10" data-column="2" data-color="null"></td>
            <td data-row="10" data-column="3" data-color="null"></td>
            <td data-row="10" data-column="4" data-color="null"></td>
            <td data-row="10" data-column="5" data-color="null"></td>
            <td data-row="10" data-column="6" data-color="null"></td>
            <td data-row="10" data-column="7" data-color="null"></td>
            <td data-row="10" data-column="8" data-color="null"></td>
            <td data-row="10" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="11" data-column="0" data-color="null"></td>
            <td data-row="11" data-column="1" data-color="null"></td>
            <td data-row="11" data-column="2" data-color="null"></td>
            <td data-row="11" data-column="3" data-color="null"></td>
            <td data-row="11" data-column="4" data-color="null"></td>
            <td data-row="11" data-column="5" data-color="null"></td>
            <td data-row="11" data-column="6" data-color="null"></td>
            <td data-row="11" data-column="7" data-color="null"></td>
            <td data-row="11" data-column="8" data-color="null"></td>
            <td data-row="11" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="12" data-column="0" data-color="null"></td>
            <td data-row="12" data-column="1" data-color="null"></td>
            <td data-row="12" data-column="2" data-color="null"></td>
            <td data-row="12" data-column="3" data-color="null"></td>
            <td data-row="12" data-column="4" data-color="null"></td>
            <td data-row="12" data-column="5" data-color="null"></td>
            <td data-row="12" data-column="6" data-color="null"></td>
            <td data-row="12" data-column="7" data-color="null"></td>
            <td data-row="12" data-column="8" data-color="null"></td>
            <td data-row="12" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="13" data-column="0" data-color="null"></td>
            <td data-row="13" data-column="1" data-color="null"></td>
            <td data-row="13" data-column="2" data-color="null"></td>
            <td data-row="13" data-column="3" data-color="null"></td>
            <td data-row="13" data-column="4" data-color="null"></td>
            <td data-row="13" data-column="5" data-color="null"></td>
            <td data-row="13" data-column="6" data-color="null"></td>
            <td data-row="13" data-column="7" data-color="null"></td>
            <td data-row="13" data-column="8" data-color="null"></td>
            <td data-row="13" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="14" data-column="0" data-color="null"></td>
            <td data-row="14" data-column="1" data-color="null"></td>
            <td data-row="14" data-column="2" data-color="null"></td>
            <td data-row="14" data-column="3" data-color="null"></td>
            <td data-row="14" data-column="4" data-color="null"></td>
            <td data-row="14" data-column="5" data-color="null"></td>
            <td data-row="14" data-column="6" data-color="null"></td>
            <td data-row="14" data-column="7" data-color="null"></td>
            <td data-row="14" data-column="8" data-color="null"></td>
            <td data-row="14" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="15" data-column="0" data-color="null"></td>
            <td data-row="15" data-column="1" data-color="null"></td>
            <td data-row="15" data-column="2" data-color="null"></td>
            <td data-row="15" data-column="3" data-color="null"></td>
            <td data-row="15" data-column="4" data-color="null"></td>
            <td data-row="15" data-column="5" data-color="null"></td>
            <td data-row="15" data-column="6" data-color="null"></td>
            <td data-row="15" data-column="7" data-color="null"></td>
            <td data-row="15" data-column="8" data-color="null"></td>
            <td data-row="15" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="16" data-column="0" data-color="null"></td>
            <td data-row="16" data-column="1" data-color="null"></td>
            <td data-row="16" data-column="2" data-color="null"></td>
            <td data-row="16" data-column="3" data-color="null"></td>
            <td data-row="16" data-column="4" data-color="null"></td>
            <td data-row="16" data-column="5" data-color="null"></td>
            <td data-row="16" data-column="6" data-color="null"></td>
            <td data-row="16" data-column="7" data-color="null"></td>
            <td data-row="16" data-column="8" data-color="null"></td>
            <td data-row="16" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="17" data-column="0" data-color="null"></td>
            <td data-row="17" data-column="1" data-color="null"></td>
            <td data-row="17" data-column="2" data-color="null"></td>
            <td data-row="17" data-column="3" data-color="null"></td>
            <td data-row="17" data-column="4" data-color="null"></td>
            <td data-row="17" data-column="5" data-color="null"></td>
            <td data-row="17" data-column="6" data-color="null"></td>
            <td data-row="17" data-column="7" data-color="null"></td>
            <td data-row="17" data-column="8" data-color="null"></td>
            <td data-row="17" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="18" data-column="0" data-color="null"></td>
            <td data-row="18" data-column="1" data-color="null"></td>
            <td data-row="18" data-column="2" data-color="null"></td>
            <td data-row="18" data-column="3" data-color="null"></td>
            <td data-row="18" data-column="4" data-color="null"></td>
            <td data-row="18" data-column="5" data-color="null"></td>
            <td data-row="18" data-column="6" data-color="null"></td>
            <td data-row="18" data-column="7" data-color="null"></td>
            <td data-row="18" data-column="8" data-color="null"></td>
            <td data-row="18" data-column="9" data-color="null"></td>
          </tr>
          <tr>
            <td data-row="19" data-column="0" data-color="null"></td>
            <td data-row="19" data-column="1" data-color="null"></td>
            <td data-row="19" data-column="2" data-color="null"></td>
            <td data-row="19" data-column="3" data-color="null"></td>
            <td data-row="19" data-column="4" data-color="null"></td>
            <td data-row="19" data-column="5" data-color="null"></td>
            <td data-row="19" data-column="6" data-color="null"></td>
            <td data-row="19" data-column="7" data-color="null"></td>
            <td data-row="19" data-column="8" data-color="null"></td>
            <td data-row="19" data-column="9" data-color="null"></td>
          </tr>
        </table>
      </div>
      <div id="side-wrapper">
        <div class="upper">
          <div class="now-point box">
            <div class="title">Current Score</div>
            <div class="content">{{ nowPoint }} pt</div>
          </div>
          <div class="operate box">
            <div class="title">How to Operate</div>
            <div class="content">→: Arrow-Right or D or L<br>←: Arrow-Left or A or H<br>↓: Arrow-Down or S or J<br>spin: Space<br><br>pause: P</div>
          </div>
        </div>
        <div class="lower">
          <div class="announce box">
            <div class="title">Announce</div>
            <div class="content">{{ announce }} </div>
          </div>
          <div class="record box">
            <div class="title">Record</div>
            <div class="content">
              <div v-for="(v, i) in ranking">{{ i+1 }}. {{ v }} pt</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
